{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1> {{title}} </h1>
        </div>
    </div>
    <div class="row">
        {% for article in all_news %}
        <div class="col-md-3">
            
               
           
            <div>
                <h4> {{article.title}} </h4>
                <p> {{article.author}} </p>
               
                <p> {{article.description}}...
                   
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}